---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "V's Garden - Garden"
---
<BaseLayout pageTitle={pageTitle}>
    <h1>Just like the great tree Yggdrasil this garden starts off with roots</h1>
    <p>This is where you'll find a collection of posts I make about my development of this site, my drinking and many other hobbies/projects.</p>
    
    <main>
        <ul>
            <li><a href="/garden/post-1/">Finally started my digital garden</a></li>
            <li><a href="/garden/post-2/">Pathfinder Session #1</a></li>
          </ul>
    </main>
</BaseLayout>