---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="https://thumbs.gfycat.com/CircularEllipticalAffenpinscher-size_restricted.gif" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>V's Garden - Heartwood</title>
	</head>
	<body class="md:text-center md:text-2xl">
		<a href="/">Home</a>
        <a href="/about/">About</a>
		<a href="/garden">My Garden</a>
		<h1>その目、だれの目？</h1>
	</body>
</html>
