---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "V's Garden - Heartwood"
---


<BaseLayout pageTitle={pageTitle}>
	<h1>その目、だれの目？</h1>
</BaseLayout>