---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "V's Garden - Heartwood"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="https://thumbs.gfycat.com/CircularEllipticalAffenpinscher-size_restricted.gif" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="md:text-center md:text-2xl">
		<BaseLayout pageTitle={pageTitle}>
			<h1>その目、だれの目？</h1>
		</BaseLayout>

	</body>
</html>
