---
import Social from './Social.astro';
---

<footer>
    <p>
    Contact me via:
    </p>
  <Social platform="discord" username="Vladimito#5103" />
  <Social platform="github" username="Vladimito" />
</footer>

