---
import Header from '../components/Header.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://thumbs.gfycat.com/CircularEllipticalAffenpinscher-size_restricted.gif" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="md:text-start md:text-lg">
    <Header />
    <slot />
  </body>
</html>